[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/maker-otc"]
	path = lib/maker-otc
	url = git@github.com:makerdao/maker-otc.git
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = git@github.com:dapphub/ds-token.git
